html, body {
    height: 100%;
    margin: 0;


}

body {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

#viewport {
    width: 840px;
    height: 300px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
    display: flex;
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}


#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

#sailbutton {
    border: 0;
    width: 100%;
    font-size: 28px;
    color: rgb(231, 231, 238);
    font-family: 'Russo One', sans-serif;
    background-color: rgb(224, 10, 42);
    position:absolute;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid #8b5558;
    cursor: pointer;
}

#sailbutton:focus {
    background-color: #2bac40;
    border-bottom-width: 0;
    padding-top: 7px;
    cursor: pointer;
}

#message{
    border-top: 3px solid black;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: rgb(224, 224, 237);
    font-family: 'Russo One', sans-serif;
    background-color: rgb(18, 16, 16);
    position:absolute;
    bottom: 0;
}

#display {
    font-size: 28px;
    color: rgb(247, 247, 244);
    margin: 0;
    padding-bottom: 50px;
    padding-left: 500px;
    font-family: 'Russo One', sans-serif;
}


#restart-btn {
    font-size: 18px;
    color: rgb(1, 14, 8);
    margin: 0;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
    margin-top: 70px;
    width: 150px;
    height: 40px;
    background-color: rgb(221, 227, 232);
    opacity: 0.8;
    cursor: pointer;

}

